.custom-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    border: 1px solid #c5c5c5; /* Add an outlined border (change color as needed) */

}

.select-tag {
    background-color: #fff;
    padding: 12px 30px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    box-shadow: none;
    cursor: pointer;
    appearance: none;
    font-family: Rajdhani, sans-serif;
}
