.header-body {
    background-color: #615dfa;
    z-index: 99999;
    margin: 0;
    padding: 0;
    height: auto;
}


.navlinks-branc-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-main-item-link {
    color: #fff;
    font-weight: 700;
    font-size: .75rem;
    min-width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-icon {
    color: rgb(141, 140, 205);
    font-size: 50px;
}

.nav-icon:hover {
    color: #ffffff;
    transition: color .15s ease-in-out;
}

.menu-main-item-link:hover {
    color: #23d2e2;
    transition: color .12s ease-in-out;
    min-width: 80px;
    text-align: center;

}

.brand-name {
    margin-left: 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Titillium Web, sans-serif;
    font-size: 1.15rem;
    font-weight: 900;
    text-transform: uppercase;
}

.grid-icon {
    color: #d1d1d175;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.grid-icon:hover {
    color: #ffffff;
    transition: color .12s ease-in-out;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-link-item {
    height: 80px;
    padding: 0 20px;
}

.nav-additional-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
}

.search-bar {
    width: 500px;
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.progress-status-bar-container {
    margin: 0 20px;
}

.more-icon-container {
    height: 80px;
    padding: 0 20px;
}

.nav-brand-container {
    padding-left: 20px;
    min-width: 70px;
}

.side-drawer-icon-container {
    display: none;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
    .nav-items-container {
        display: none;
    }

    .brand-name {
        display: none;
    }

    .more-icon-container {
        display: none;
    }

    /* .search-bar{
        display: none;
    } */
    .progress-status-bar-container {
        display: none;
    }

    .nav-additional-links {
        display: none;
    }

    .grid-icon-container {
        display: none;
    }

    .header-body {
        height: 60px;
    }

    .nav-brand-container {
        height: 60px;
        min-width: 10px;
        padding: 10px;
    }

    .side-drawer-icon-container {
        display: block;
    }

    .search-bar {
        display: none;
    }
}

@media (min-width: 576px) {
    .brand-name {
        display: none;
    }

    .nav-items-container {
        display: none;
    }

    .header-body {
        height: 80px;
    }

    .side-drawer-icon-container {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .brand-name {
        display: none;
    }

    .nav-items-container {
        display: none;
    }

    .search-bar {
        display: flex;
    }

    .progress-status-bar-container {
        display: none;
    }

    .nav-additional-links {
        display: flex;
    }

    .grid-icon-container {
        display: block;
    }

    .nav-brand-container {
        padding-left: 18px;
        min-width: 70px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .brand-name {
        display: none;
    }

    .nav-items-container {
        display: none;
    }

    .more-icon-container {
        display: none;
    }

    .more-icon-container {
        display: none;
    }

    .progress-status-bar-container {
        display: block;
    }
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .nav-link-item {
        height: 80px;
        padding: 0 10px;
    }
}

@media (min-width: 1440px) {
    .brand-name {
        display: none;
    }

    .nav-items-container {
        display: flex;
        justify-content: space-between;
        width: 170px;
        margin: 0 10px;
    }
}

@media (min-width: 1441px) {
    .brand-name {
        display: flex;
    }

    .nav-items-container {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin: 0 15px;
    }

    .search-bar {
        width: 500px;
    }

    .more-icon-container {
        display: flex;
    }
}

@media (min-width: 2560px) {
    .brand-name {
        display: flex;
    }

    .nav-items-container {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin: 0 15px;
    }

    .search-bar {
        max-width: 500px;
    }

    .more-icon-container {
        display: flex;
    }
}

.more-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu {
    width: 150px;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: #615dfa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 10px;
    z-index: 1;
}

.more-icon:hover .menu {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.menu ul li a:hover {
    color: #615dfa;
}

.menu-item {
    padding: 10px 20px;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.menu-item:hover {
    color: #23d2e2;
    transition: color .15s ease-in-out;
}


.dropdown-icon {
    margin-left: 5px;
    height: 8px;
    width: 8px;
}
