.progress-stat .bar-progress-wrap .bar-progress-unit {
    margin-left: 3px;
    text-transform: uppercase;
}

.progress-stat .bar-progress-wrap .bar-progress-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.progress-stat-bar {
    width: 110px;
    height: 4px;
    position: relative;
    background-color: #f8f8fb;
    border-radius: 10px;
}
